
  .ovale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105%;
    height: 750px;
    position: relative;
    top:-375px;
    left:-2.5%;
    background: #0099FF;
    border-radius: 60%;
    color: #ffffff;
    font-size: 50px; /* Titres de 40 pixels */
    font-family: 'Montserrat', arial;
  }

    .postalcard {
        position: relative;
        top: -450px ;
        left: 30%;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 35%;
        height: 350px;
        background: #ffffff;
        border: solid;
        border-color: #0099FF;
        border-radius: 5px;

    }