
  .ovale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105%;
    height: 750px;
    position: relative;
    top:-375px;
    left:-2.5%;
    background: #0099FF;
    border-radius: 60%;
    color: #ffffff;
    font-size: 50px; /* Titres de 40 pixels */
    font-family: 'Montserrat', arial;
  }

    .postalcard {
        position: absolute;
        top: 200px ;
        left: 25%;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 50%;
        height: 400px;
        background: #ffffff;
        border: solid;
        border-color: #0099FF;
        border-radius: 5px;
        font-family: 'Montserrat', arial;
    }
  
  @keyframes foreground {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  @keyframes background {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #0099ff;
    color: #ffffff;
    font-size: 50px; /* Titres de 40 pixels */
    font-family: 'Montserrat Light', arial;
  }
  
  #container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top:30px;
      height: 70%;
      color: #ffffff;
      font-family: 'Montserrat Light', arial;
      /*border: 2px solid red;*/
    }
  
    .contact{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left:10px;
      margin-right:10px;
      max-width:30%;
      height:80%;;
      background: #0099ff;
      border-radius: 5px;
    }
    .contact_selected{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left:10px;
      margin-right:10px;
      max-width:30%;
      height:80%;;
      background: #2c7baf;
      border-radius: 5px;
    }
    .name{
      font-size:30px;
      margin-bottom:30px;
    }
    .status{
      font-size:20px;
      margin-bottom:30px;
    }
    .connection{
      font-size:20px;
      margin-bottom:50px;
    }
  
    .contact_img{
        width:70%;
    }
  
  
  
  