
<div class="ovale">
                <br/>
                <br/>
            Contacts
        </div>

<div id="container" style="position: absolute;top: 175px">
    <div class={{is_selected_1}} id="contact_1">
            <img src="/static/Luc.png" style="width:70%;height:auto">
            <div class="name">Luc</div>
            <div class="status">Petit-fils</div>
            <div class="connection">non connecté</div>
    </div>
    <div class={{is_selected_2}} id="contact_2">
            <img src="/static/Doran.png"style="width:70%;height:auto">
            <div class="name">Doran</div>
            <div class="status">Petit-fils</div>
            <div class="connection">Connecté</div>
    </div>
    <div class={{is_selected_3}} id="contact_2">
        <img src="/static/Maria.png" style="width:70%;height:auto">
        <div class="name">Maria</div>
        <div class="status">Petite-fille</div>
        <div class="connection">Connecté</div>
</div>
</div>

<script src="/js/tracking-websocket.js"></script>

