<div class="ovale">
    </div>
    <div class= "homePage">
        <div class="homePageTitle">Contacts</div>
  
        <div class="container_contacts">

            <div class = "leftArrow" style="animation: 0.5s ease-out 0s 1;animation-name:{{leftArrow}};">
                <img src="/static/button/arrow_left.png" style="width:100%"/>
            </div>
            
            <div class={{is_selected_1}} id="contact_1">
                <img class = "contactImage" src="/static/Luc.png"/>
                <div class="name">Luc</div>
                <div class="status">Petit-fils</div>
                <div class="connection">non connecté</div>
                <div class="callButton" style="display:{{display_1}};animation: 0.5s ease-out 0s 1;animation-name:{{blueButton}};"> 
                    <img src="/static/button/button_blue.png" class="blueImage"/>
                    <div class="callText">Appeler</div>
                </div>
            </div>

            <div class={{is_selected_2}} id="contact_2">
                <img class = "contactImage" src="/static/Doran.png"/>
                <div class="name">Doran</div>
                <div class="status">Petit-fils</div>
                <div class="connection">Connecté</div>
                <div class="callButton" style="display: {{display_2}};animation: 0.5s ease-out 0s 1;animation-name:{{blueButton}};"> 
                        <img src="/static/button/button_blue.png" class="blueImage"/>
                        <div class="callText">Appeler</div>
                </div>
            </div>

            <div class={{is_selected_3}} id="contact_2">
                <img class = "contactImage" src="/static/Maria.png" />
                <div class="name">Maria</div>
                <div class="status">Petite-fille</div>
                <div class="connection">Connecté</div>
                <div class="callButton" style="display: {{display_3}};animation: 0.5s ease-out 0s 1;animation-name:{{blueButton}};"> 
                        <img src="/static/button/button_blue.png" class="blueImage"/>
                        <div class="callText">Appeler</div>
                </div>
            </div>

            <div class = "rightArrow" style="animation: 0.5s ease-out 0s 1;animation-name:{{rightArrow}};">
                <img src="/static/button/arrow_right.png" style="width:100%"/>
            </div>

        </div>

        <div class="homePageButton" > 
            <img src="/static/button/button_orange.png" class = "orangeImage" style="animation: 0.5s ease-out 0s 1;animation-name:{{orangeButton}};"/>
            <div class="buttonText">Accueil</div>
        </div>

    </div>
