<div class="ovale">
    </div>
<div class="homePage">
	<div class="homePageTitle">Bienvenue Yvette !
	<img src="static/logo.png" height="100px">
	</div>
	<div class="container_home">
	    <div>
		<div class="homeButton" > 
		     <img src="/static/button/button_blue.png" class="blueImage" style="animation: 0.5s ease-out 0s 1;animation-name:{{blueButton}};"/>
		     <div class="homeText">Contacts</div>
		</div>
		<div class="homeButton" > 
		    <img src="/static/button/button_orange.png" class = "blueImage" style="animation: 0.5s ease-out 0s 1;animation-name:{{orangeButton}};"/>
		    <div class="homeText">Galerie photos</div>
		</div>
	    </div>
	    <div class="note">
		<img class = "note" src="/static/memo1.png"/ style="position:absolute;top:500px;left:900px;">
	    </div>
	    <div class="note">
		<img class = "note" src="/static/memo2.png" style="position:absolute;top:500px;left:1300px;"/>
	    </div>
	</div>
</div>
