
<div class="ovale">
        <br/>
        <br/>
    GALERIE PHOTO
</div>

<div class="postalcard" style="animation-name: {{animation_foreground}};animation-duration:4s;">
        <img src="/static/photos/{{image_foreground}}" style="width:70%;height:auto; max-height:100%;">
        <div>        
                <h2 style="color:#0099FF">MORGAN</h2>
                <br/>
                {{txtmsg_foreground}}
                <br/>

                <h4 style="color:#0099FF">12/12/2019         16:34</h4>
        </div>

        </div>

<div class="postalcard" style="animation-name: {{animation_background}};animation-duration: 4s;opacity:0;">
        <img src="/static/photos/{{image_background}}" style="width:70%;height:auto; max-height:100%;">
        <div>
                <h2 style="color:#0099FF">MORGAN</h2>
                <br/>
                {{txtmsg_background}}
                <br/>
                <h4 style="color:#0099FF">12/12/2019         16:34</h4>

        </div>
</div>