
<div class="ovale"></div>
<div class= "homePage">
<div class="homePageTitle">Galerie Photos</div>
<div class="postalcard" style="animation-name:{{animation_foreground}}; animation-duration:0.5s;">
                
        <img class="postalcard_img" src="/static/photos/{{image_foreground}}">

        <div class="postalcard_text">
            <h2> {{contact_foreground}} </h2>
            <div class="postalcard_message">

                 {{txtmsg_foreground}}
         
            </div>
            <h4> Reçu: {{date_foreground}} </h4>
        </div>

    </div>

    <div class="postalcard" style="animation-name: {{animation_background}};animation-duration: 0.5s;opacity:0;">
        
        <img class="postalcard_img" src="/static/photos/{{image_background}}">

        <div class="postalcard_text">
            <h2> {{contact_background}} </h2>
            <div class="postalcard_message">
                {{txtmsg_background}}
         
            </div>
            <h4> Reçu: {{date_background}} </h4>
        </div>

    </div>

</div>

</div>
    <div class="homePageButton"> 
        <img src="/static/button/button_orange.png" class = "orangeImage" style="animation: 0.5s ease-out 0s 1;animation-name:{{orangeButton}};"/>
        <div class="buttonText" style="margin-right:40px;">Accueil</div>
    </div>

</div>
