
<div class="ovale">
        <br/>
        <br/>
    GALERIE PHOTO
</div>

<div class="postalcard" style="animation-name: {{animation_foreground}};animation-duration:4s;">
        <img src="/static/photos/{{image_foreground}}" style="width:70%;height:auto; max-height:100%;">
        <div>        
                <h2 style="color:#0099FF">{{contact_foreground}}</h2>
                <br/>
                {{txtmsg_foreground}}
                <br/>

                <h4 style="color:#0099FF">{{date_foreground}}</h4>
        </div>

        </div>

<div class="postalcard" style="animation-name: {{animation_background}};animation-duration: 4s;opacity:0;">
        <img src="/static/photos/{{image_background}}" style="width:70%;height:auto; max-height:100%;">
        <div>
                <h2 style="color:#0099FF">{{contact_background}}</h2>
                <br/>
                {{txtmsg_background}}
                <br/>
                <h4 style="color:#0099FF">{{date_background}}</h4>

        </div>
</div>

<div class="notification" style="opacity:{{notification_opacity}};">
        <img src="/static/notif_photo.png" style="width:70%;height:auto; max-height:100%;">
</div>